<p style="color: green"><%= notice %></p>

<h1>Jobs</h1>

<div id="jobs">
  <% @jobs.each do |job| %>
    <%= render job %>
    <p>
      <%= link_to "Show this job", customer_job_path(uuid: job.uuid) %>
    </p>
  <% end %>
</div>

<%= link_to 'Publish a job', new_customer_job_path %>