<!-- app/views/internal/animals/index.html.erb -->

<h1>Job List</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Publish a job', new_customer_job_path %>