<h1>Animal Details</h1>

<p><strong>Registration Number:</strong> <%= @animal.uuid %></p>
<p><strong>Registered By:</strong> <%= @animal.registered_by %></p>

<%= link_to 'Back to Animal List', internal_animals_path %>